您好：

　　本通知信係由系統自動寄出，由於您所製作的個人網頁被
下載的資料量或次數偏高，特此通知(註1)。

　　現今網路搜尋引擎發達，散佈有爭議的資料很容易被人檢
舉，甚至被告。為了避免發生不必要的麻煩，強烈建議使用者
務必確認個人網頁資料的合法性。請參閱網址：
http://net.nthu.edu.tw/2009/netip

　　提醒您製作個人網頁請注意下列事項：
1. 任何放置於個人網頁空間下的資料均可被公眾所下載；
2. 個人網頁請勿放置、散佈或分享違反著作權的檔案；
3. 請勿利用個人網頁從事營利性商業活動；
4. 請遵守「國立清華大學校園網路使用規範」及相關法令，
   http://net.nthu.edu.tw/2009/law:netrule。

====== 個人網頁下載統計資訊 ======
　　　　時間：#_DATE_#
　　　　網址：http://#_DOMAIN_#/~#_USER_#/
　被下載流量：#_SIZE_# (註2)
　被下載次數：#_COUNT_#
被下載的連結：
#_URI_#

註1：本信件由系統自動寄出，請勿回信！！
註2：GiB為2的30次方個bytes，MiB為2的20次方個bytes。

-- 
國立清華大學 計算機與通訊中心 網路系統組
聯絡方式：
http://net.nthu.edu.tw/2009/about:contact
